.errorMsg {
    color:red;
}

.avatarStyle{ 
    background-color:aqua !important
 }

.btnstyle { 
    margin-top: 25px !important
}
.paperStyle{
    padding: 20 !important;
    height : 500px;
    width: 400px;
    margin: 30px auto !important;
  }